/* @keyframes show{
    from{
      opacity: 1; scale: 42%;
    }
    to{
      opacity: 1; scale:100%;
    }
  }  */
.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh; 
    background-color: white; 
    /* background-color: #1e1e1e; */
    overflow-x: hidden; 
    
    




}

/* div{
    view-timeline-name: --reveal;
    view-timeline-axis:block;

    animation-timeline: --reveal;
    animation-name:show;

    animation-range:entry 25% cover 25%;
    animation-fill-mode: both ;
} */
.item {

    font-family:Arial, Helvetica, sans-serif;
    color: #1b1f3b;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    max-width: 600px; 
    margin-right:25px;
    margin-bottom: 10px;
    padding: 0px;
}
.name{
    font-size:30px;
}
.talent{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin-left: 2px;
    color:cadetblue
}

/* Imagen */
.imagen {
    max-width: 150px;
    height: auto; 
    border-radius: 50%; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%); */
    transition: transform 0.3s ease-in-out;
    
}
.imagen:hover{
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}
.links {
    margin-top: 15px; 
    display: flex;
    gap: 9px;
    justify-content: center; 
    align-items: center;
    margin-right: 35px;
}


.links a {
    color: #6c757d; 
    font-size: 20px; 
    transition: color 0.3s ease-in-out;
}


.links a:hover {
    color: #343a40;
}


@media (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .item {
        text-align: left;
    }

    .links {
        justify-content: flex-start; 
        margin-left: 0;
        width: 100%;
    }
}


